name: Lint

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.actor }}"

      - uses: actions/checkout@v6

      - name: Use Node.js 24.x
        uses: actions/setup-node@v5
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint
