name: Release Canary

on:
  push:
    branches:
      - main
      - next

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release Canary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Use Node.js 24.x
        uses: actions/setup-node@v5
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Install Dependencies
        run: npm ci

      - name: Publish Canary release
        run: |
          echo --- > .changeset/canary.md
          echo '"@comet/dev-process-manager": patch' >> .changeset/canary.md
          echo --- >> .changeset/canary.md
          echo >> .changeset/canary.md
          echo fake change to always get a canary release >> .changeset/canary.md
          npx changeset version --snapshot canary
          npm run build-and-publish --tag canary
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
